extends layout

block content
  h1= title
  p Welcome to #{title}
  div#char-summary
    table#char-basics-table
        th#charName
        tr
            td Realm
            td#realm
    table#char-sum-table
            
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/char-import.js')
  script(src='/javascripts/global.js')