extends layout

block content
  h1= title
  p Welcome to #{title}
  div#char-summary
    input#ifTp(type="checkbox")
    label#tpLabel(for="ifTp") Activate Tiger Power
    
    input#fightLength(type="number")
    label#fightLenLable(for="fightLength",value="6") Fight Length (minutes)

    table#char-basics-table
        th#charName
        tr
            td Realm
            td#realm
    table#char-sum-table
            
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/stats/avgWdps.js')
  script(src='/javascripts/stats/stat.js')
  script(src='/javascripts/char-import.js')
  script(src='/javascripts/global.js')
  
  script(src='/javascripts/spells/spell.js')
  script(src='/javascripts/spells/spellList.js')