extends layout

block content
  h1= title
  p Grab your character by entering its data and hitting enter below:
  div#char-import
    select#region
        option(value='us') US
        option(value='eu') EU
    input#realm(type='text')
    input#char-name(type='text')
    input#char-submit(type='submit')