/*************************************************************

Mixins - common configurations such as colors, styles, etc.
        as well as functions for creating style types

*************************************************************/

// Define Colors
// blues
$bright-blue: #00B7FF;

// grey/black/whites
$white: #fff;
$black: #333;
$dark-grey: #555;
$med-grey: #999;
$light-grey: #ddd;

//
